doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Oops
    link(href='https://fonts.googleapis.com/css?family=Quicksand:700', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='css/style3.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    #notfound
      .notfound
        .notfound-bg
          div
          div
          div
        h1 oops!
        h2 Error 404 : User Not Found
        a(href='/') go back
        .notfound-social
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-pinterest
          a(href='#')
            i.fa.fa-google-plus
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13', type='d005742fc45d8094193efea8-text/javascript')
    script(type='d005742fc45d8094193efea8-text/javascript').
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-23581568-13');
    script(src='https://ajax.cloudflare.com/cdn-cgi/scripts/cb7744ae/cloudflare-static/rocket-loader.min.js', data-cf-settings='d005742fc45d8094193efea8-|49', defer='')
