doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet',type='text/css', href='/css/style.css')
  body
        form(name="sendin",action='/login', method='POST')
          input(type='hidden', name='username')
          | &#x9;&#x9;
          input(type='hidden', name='password')
        script(type='text/javascript', src='/js/sha256.min.js') 
        script(type='text/javascript').
              function doLogin() {
              document.sendin.username.value = document.login.username.value;
              document.sendin.password.value = sha256(document.login.password.value);
              document.sendin.submit();
              return false;
              }
        h2
          | Social Media
        .container
          form(name="login",action='/login', method='POST', onSubmit="return doLogin()")
            .row
              h2(style='text-align:center;') Login with Social Media or Manually
              .vl
                span.vl-innertext or
              .col
                a.fb.btn(href='#')
                  i.fa.fa-facebook.fa-fw
                  |  Login with Facebook
                a.twitter.btn(href='#')
                  i.fa.fa-twitter.fa-fw
                  |  Login with Twitter
                a.google.btn(href='#')
                  i.fa.fa-google.fa-fw
                  |  Login with Google+
              .col
                .hide-md-lg
                  p Or sign in manually:
                div#note
                  - var messages = getMessages()

                  if messages.notify
                      each msg in messages.info
                          .info= msg
                  if messages.error
                      each msg in messages.error
                          .error= msg
                input(type='text', name='username', placeholder='Username', required='')
                input(type='password', name='password', placeholder='Password', required='')
                input(type='submit', value='Login' )
        .bottom-container
          .row
            .col
              a.btn(href='/', style='color:white;') Sign up
            .col
              a.btn(href='#', style='color:white;') Forgot password?