html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='https://code.jquery.com/jquery-3.4.1.js', integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin='anonymous')
    style
        include ../public/css/style2.css
    title #{title}
  body
    .container
        p #{user}
        form(action='/posts',method='POST')
            label(for='exampleFormControlTextarea1') Enter Your Post
            textarea(name='editor1')
            button.btn.btn-success.btn1 Add Post
        form(action='/logout',method='POST')
            button.btn.btn-danger.btn1 Logout
        script(src='/ckeditor/ckeditor.js')
        script.
          CKEDITOR.replace( 'editor1' );
        .container
            table.table.table-striped.table-bordered.text-center.table-hover#tbl_posts
                    tr.satr
                      th.colu Username
                      th.colu Post
                    each n in Post
                     tr
                        td.satr
                          p.text-capitalize!= n.username
                        td.satr
                          p#contenttxt!= n.post_text