doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js') 
    style.
      body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
      width:80%;
      height:80%;
      margin: 0 auto;
      }
      * {
      box-sizing: border-box;
      }
      /* Add padding to containers */
      .container {
      padding: 16px;
      background-color: white;
      }
      /* Full-width input fields */
      input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      }
      input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
      }
      /* Overwrite default styles of hr */
      hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
      }
      /* Set a style for the submit button */
      .registerbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      }
      .registerbtn:hover {
      opacity: 1;
      }
      /* Add a blue text color to links */
      a {
      color: dodgerblue;
      }
      /* Set a grey background color and center the text of the "sign in" section */
      .signin {
      background-color: #f1f1f1;
      text-align: center;
      }
      .red{
      color : red;
      }
    title #{title}    
  body
    form(name="sendin",action='/', method='POST')
          input(type='hidden', name='username')
          | &#x9;&#x9;
          input(type='hidden', name='password')
    script(type='text/javascript', src='/js/sha256.min.js') 
    script(type='text/javascript').
              function doLogin() {
              document.sendin.username.value = document.login.username.value;
              document.sendin.password.value = sha256(document.login.password.value);
              document.sendin.submit();
              return false;
              }  
    form(name="login",action='/' , method='post',onSubmit="return doLogin()")
      .container
        h1 Register
        hr
        div#note
          - var messages = getMessages()

          if messages.notify
              each msg in messages.info
                  .info= msg
          if messages.error
              each msg in messages.error
                  .error= msg
        label(for='email')
          b User Name
        input(type='text', placeholder='Enter Username', name='username', required='')
        label(for='psw')
          b Password
        input(type='password', placeholder='Enter Password', name='password', required='')
        label(for='psw-repeat')
          b Repeat Password
        input(type='password', placeholder='Repeat Password', name='pswrepeat', required='')
        button.registerbtn(type='submit') Register
      .container.signin
        p
          | Already have an account? 
          a(href='/login') Sign in
          | .
